body {
  margin: 0;
}
canvas {
  display: block;
}
#error-container {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(255, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-family: sans-serif;
}
